.head_election {
  color: #000;
  text-align: center;
  font-family: sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  text-align: center;
  margin-top: 1%;
}

#elction_name .agenda_card {
  color: #929292;
  font-family: system-ui, "Roboto";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
  letter-spacing: 0.32px;
  padding-top: 27px;
  padding-bottom: 27px;
  /* border:2px solid red; */
}

.elction_name_nav {
  border-radius: 11px;
  border: 2px solid rgba(214, 214, 214, 0.33);
  background: linear-gradient(
    91deg,
    rgba(255, 248, 224, 0.4) -2.61%,
    rgba(255, 253, 241, 0.4) 51.48%,
    rgba(255, 248, 225, 0.4) 104.37%
  ) !important;
  box-shadow: -11.97949px 11.97949px 11.97949px 0px rgba(255, 255, 255, 0.1)
      inset,
    11.97949px -11.97949px 11.97949px 0px rgba(165, 165, 165, 0.1) inset !important;
  backdrop-filter: blur(15px);
}

.BJP {
  background-color: #fff999 !important;
}

.TMP {
  background-color: #0c2317 !important;
}

.CONG {
  background-color: skyblue !important;
}

#video-caraousal .splide__arrow {
  -ms-flex-align: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.4);
  border: 0;
  /* border-radius: 50%; */
  cursor: pointer;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -ms-flex-pack: center;
  justify-content: center;
  opacity: 0.7;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 4em;
  z-index: 1;
  border-radius: 0px !important;
}

#video-caraousal .splide__arrow svg {
  fill: #fff;
  height: 1.2em;
  width: 1.2em;
}

#video-caraousal .splide__arrow--prev {
  left: 0em;
}

#video-caraousal .splide__arrow--next {
  right: 0em;
}

.center_text {
  color: #242424;
  text-align: center;
  font-family: Roboto;
  font-size: 30px;
  font-style: normal;
  font-weight: 800;
  line-height: 150%; /* 36px */
  letter-spacing: 0.48px;
  position: absolute;
  top: 50%;
  left: 40%;
}

@media (max-width: 768px) {
  .head_election {
    font-size: 32px;
  }

  .center_text {
    color: #242424;
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: 150%; /* 36px */
    letter-spacing: 0.48px;
    position: absolute;
    top: 55%;
    left: 40%;
  }
}
