.slidesr {
  padding:15px 0px;
}

.container {
  padding: 2rem;
}

.slick-slide p {
  color: #AEAEAE;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 21px */
letter-spacing: 0.28px;
text-align: center;
 }

.slick-slide.slick-center p{
  /* transform: scale(2.1); */
  border-radius: 30px;
  background: #454545;
  color:#ffcc02;
  /* padding:px */
}

.s-prev{
  position: absolute;
  top:0;
  left:30% !important;
  z-index:9999;
  background-color: transparent;
  border:none;
}

.s-next{
  position: absolute;
  top:auto !important;
  bottom:0px !important;
  left:30% !important;
  background-color: transparent;
  border:none;
}

.home_election > .table > thead{
  border-radius: 2px;
background: linear-gradient(187deg, #FFF 0%, #C2C2C2 89.73%);
box-shadow: -0.24266px 1.97627px 1.99111px 0px #F7F7F7 inset, 0.24266px -1.97627px 1.99111px 0px #B8B8B8 inset;
}